@media(min-width: 576px) {
    h2 {
        text-align: center;
    }
    li.employees {
        width: 100%;
    }

}

@media(min-width: 320px) and (max-width: 576px) {
    h2 {
        font-size: 39px;
        text-align: center;
    }
    li.employees {
        width: 100%;
    }
    div.wrapper {
        width: 100vw;
    }
    
}

/* @media(max-width: 576px){
    h2{
        font-size: ;
    }
} */

main {
    background: white;
    margin: 0;
}

main li.employees {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 2rem;
    list-style-type: none;
}

h2 {
    margin: 0;
}

div.wrapper {
    padding: 20px;
}

div.profil-container {
    max-height: 300px;
    width: auto;
    overflow: hidden;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 8px 0px black;
}

/* Permet de de donner une dimension fixe pour les images.
max-width initialisée à 100px pour les mobiles.
*/

img {
    max-width: 100px;
    max-height: 200px;
}

.isSenior {
    color: white;
    padding:0.2em;
}

.isMedior {
    color:white;
    padding:0.2em;
}

.isJunior {
    color: white;
    padding:0.2em;
}